@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #e86471;
    --primary-color-dark: #c95762;
    --text-dark: #100629;
    --white: #ffffff;
    --border-radius: 32px;
    --max-width: 1200px;
}

body, html {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

.section-container {
    max-width: var(--max-width);
    margin: auto;
    padding: 80px 16px;
}

.section-header {
    margin-bottom: 16px;
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
    color: var(--text-dark);
}

.section-description {
    margin-bottom: 32px;
    max-width: 500px;
    font-weight: 500;
    margin-inline: auto;
}

.btn {
    width: fit-content;
    padding: 16px 32px;
    outline: none;
    border: none;
    font-size: 16px;
    color: var(--white);
    background-color: var(--primary-color);
    border-radius: 80px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: var(--primary-color-dark);
}

img {
    display: flex;
    width: 100%;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* Navbar Section */
.header {
    margin: 16px;
    background-color: #f8f7f5;
    border-radius: var(--border-radius);
}

.header-container {
    position: relative;
    isolation: isolate;
    padding: 16px;
    display: grid;
    gap: 32px;
    text-align: center;
}

nav {
    position: absolute;
    top: 16px;
    left: 16px;
    width: 100%;
    max-width: 300px;
    z-index: 1;
}

.nav-menu-btn {
    padding: 5px;
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 16px;
    background-color: var(--primary-color);
    border-radius: 80px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3 ease;
    cursor: pointer;
}

.nav-menu-btn:hover {
    background-color: var(--primary-color-dark);
}

.nav-menu-btn span {
    display: inline-block;
    padding: 0 5px;
    font-size: 24px;
    background-color: var(--white);
    border-radius: 50%;
}

.nav-menu-btn h4 {
    margin-right: 16px;
    font-size: 16px;
    font-weight: 500;
    color: var(--white);
}

.nav-links {
    position: relative;
    isolation: isolate;
    margin-top: 16px;
    padding: 8px;
    width: 100%;
    gap: 8px;
    border-radius: 16px;
    overflow: hidden;
    display: none;
}

.nav-links::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    height: 0;
    width: 0;
    background-color: var(--primary-color);
    border-radius: 50%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    z-index: -1;
}

.nav-links.active {
    display: grid;
}

.nav-links.active::before {
    animation: show-menu 0.5s forwards;
}

.nav-links.unactive::before {
    animation: hide-menu 0.5s forwards;
}

@keyframes show-menu {
    from {
        height: 0;
        width: 0;
    }
    to {
        height: 300%;
        width: 300%;
    }
}

@keyframes hide-menu {
    from {
        height: 300%;
        width: 300%;
    }
    to {
        height: 0;
        width: 0;
    }
}

.nav-links a {
    display: block;
    padding: 12px;
    font-weight: 500;
    color: var(--white);
    text-align: center;
    border-radius: 10px;
    opacity: 0;
    transition: all 0.3s ease;
}

.nav-links a:hover {
    background-color: var(--primary-color-dark);
}

.nav-links.active a {
    animation: show-link 0.5s forwards;
}

.nav-links.unactive a {
    animation: hide-link 0.5s forwards;
}

@keyframes show-link {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes hide-link {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

/* Header Section */
.header-image img {
    max-width: 600px;
    margin-inline: auto;
}

.header-content h1 {
    margin-bottom: 16px;
    font-size: 64px;
    font-weight: 700;
    line-height: 64px;
    color: var(--text-dark);
}

.header-btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.header-btns img {
    max-width: 150px;
    border-radius: 5px;
}

/* Travel Section */
.travel-container {
    display: grid;
    gap: 32px;
}

.travel-image img {
    max-width: 450px;
    margin-inline: auto;
    border-radius: var(--border-radius);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.travel-content {
    text-align: center;
}

.travel-content img {
    max-width: 300px;
    margin-top: 40px;
    margin-inline: auto;
}

/* Explore Section */
.explore-container {
    display: grid;
    gap: 32px;
    padding-block: 0;
    background-color: #ece8f7;
    border-radius: var(--border-radius);
    overflow-y: hidden;
}

.explore-content {
    padding-block: 80px;
    display: grid;
    place-content: center;
}

.explore-wrapper {
    display: none;
}

/* Discover Section */
.discover-container h2 {
    text-align: center;
}

.discover-container .section-description {
    margin-inline: 0;
}

.discover-grid {
    display: grid;
    gap: 16px;
    margin-top: 64px;
}

.discover-grid h4 {
    margin-bottom: 16px;
    font-size: 32px;
    font-weight: 600;
    line-height: 32px;
}

.discover-destination {
    overflow: hidden;
    padding: 32px;
    border-radius: var(--border-radius);
    background-color: #fadcde;
}

.discover-images {
    margin-bottom: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.discover-images img {
    max-width: 150px;
    border-radius: var(--border-radius);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.discover-plan {
    background-color: #faf4de;
    border-radius: var(--border-radius);
    overflow: hidden;
}

.discover-plan-content {
    padding-block: 32px 0;
    padding-inline: 32px;
}

.discover-plan img {
    transform: translateX(32px);
    filter: drop-shadow(5px 5px 10px rgba(0,0,0,0.2));
    max-width: 600px;
}

.discover-guide {
    display: grid;
    align-items: center;
    border-radius: var(--border-radius);
    background-color: #f8f7f5;
}

.discover-guide-content {
    padding: 32px;
    max-width: 500px;
    margin-inline: auto;
}

.discover-guide-img img {
    max-width: 450px;
    margin-inline: auto;
    filter: drop-shadow(5px 5px 10px rgba(0,0,0,0.2));
}

/* Customers Section */
.swiper {
    margin-top: 64px;
    width: 100%;
}

.swiper-slide {
    max-width: 300px;
}

.customer-card {
    position: relative;
    isolation: isolate;
}

.customer-card-content {
    position: absolute;
    bottom: 16px;
    left: 16px;
    width: calc(100% - 32px);
    padding: 16px;
    font-weight: 500;
    color: var(--text-dark);
    backdrop-filter: blur(5px);
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.7);
}

.customer-image {
    border-radius: var(--border-radius);
}

.user-image {
    position: absolute;
    top: 32px;
    right: 32px;
    border-radius: 16px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    width: 60px;
}

/* FAQ Section */
.faq-container h2 {
    text-align: center;
}

.faq-grid {
    display: grid;
    gap: 16px;
    margin-top: 64px;
    max-width: 900px;
    margin-inline: auto;
}

.faq-card {
    display: grid;
    gap: 16px;
    padding: 24px;
    background-color: #f8f7f5;
    border-radius: 16px;
}

.faq-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

.faq-title h4 {
    font-size: 20px;
    font-weight: 600;
    color: var(--text-dark);
}

.faq-title span {
    font-size: 24px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.faq-content {
    font-weight: 500;
    color: var(--text-dark);
    display: none;
}

.faq-card.active .faq-content {
    display: block;
}

.faq-card.active .faq-title span {
    transform: rotate(180deg);
}

/* Footer Section */
.footer-container {
    text-align: center;
}

.footer-socials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    flex-wrap: wrap;
    margin-block: 32px;
}

.footer-socials a {
    font-size: 24px;
    padding: 4px 10px;
    color: var(--white);
    background-color: var(--text-dark);
    border-radius: 50%;
    transition: all 0.3s ease;
}

.footer-socials a:hover {
    background-color: var(--primary-color-dark);
}

.footer-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    flex-wrap: wrap;
}

.footer-links a {
    font-size: 18px;
    font-weight: 500;
    color: var(--text-dark);
    transition: all 0.3s ease;
}

.footer-links a:hover {
    color: var(--primary-color);
}

/* Responsive Section */
@media (min-width: 550px) {
    .discover-images img {
        max-width: 240px;
    }

    .discover-guide {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }
}

@media (min-width: 768px) {
    .header-container {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        text-align: left;
    }

    .header-content p {
        margin-bottom: 32px;
    }

    .header-image {
        grid-area: 1/2/2/3;
    }

    .header-content .section-description {
        margin-inline-start: unset;
    }

    .header-btns {
        justify-content: flex-start;
    }

    .travel-container {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }

    .travel-content {
        text-align: left;
    }

    .travel-content img {
        max-width: 300px;
        margin-top: 40px;
        margin-inline: 0;
    }

    .travel-content .section-description {
        margin-inline: unset;
    }

    .explore-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .explore-content {
        padding-block: 160px;
    }

    .explore-wrapper {
        display: block;
        position: relative;
        isolation: isolate;
    }

    .explore-wrapper-inner {
        position: absolute;
        width: 100%;
        display: grid;
        gap: 16px;
        animation: scroll 15s linear infinite;
    }

    .explore-wrapper-inner img {
        max-width: 350px;
        margin-inline: auto;
        border-radius: var(--border-radius);
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    }

    @keyframes scroll {
        from {
            transform: translateY(calc(-50% - 8px));
        }
    }

    .discover-images img {
        max-width: 170px;
    }

    .discover-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .discover-guide {
        grid-column: 1/3;
    }
}

@media(min-width: 1110px) {
    .discover-destination img {
        max-width: 250px;
    }
}
